body {
    
   
}

div.iFrameContainer {
    max-height: 50%;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    /*To get CSS iFrameContainer bottom-padding radio = (iframe height /iframe width) * 100 */
}

div.sampleiFrameContainer {
    max-height: 50%;
    position: relative;
    height: 0;
    padding-bottom: 59.72%;
    /*To get CSS iFrameContainer bottom-padding radio = (iframe height /iframe width) * 100 */
}

iframe {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%; 
   width:100%;
}

.explanation {
    padding-left: 5%;
}

.explanation p {
    color: black;
    font-size: 16px;
    padding: 10px;
}

